@font-face {
    font-family: 'Sucrose Bold Two';
    src: url('s3-us-west-2.amazonaws.com/s.cdpn.io/4273/sucrose.woff2') format('woff2');
}

@font-face {
    font-family: 'IM Fell French Canon Pro';
    src: url('s3-us-west-2.amazonaws.com/s.cdpn.io/4273/im-fell-french-canon-pro.woff2');
}

body {
    background: black;
    color: #CCDAD1;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background: url(https://images.unsplash.com/photo-1511497584788-876760111969?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2664&q=80);
    background-color: black;
    background-repeat: no-repeat;
    padding-top: 60%;
    background-size: contain;
    font-family: 'Garamond';
    text-align: center;
}

header img {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    padding-bottom: 0;
    margin-bottom: 0;
}

.head-text {
    color: black;
    position: fixed;
    top: 0px;
    left: 5%;
    font-size: 50px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
    text-align: center;
}

nav.topnav {
    text-align: center;
    background: rgb(0, 0, 0);

    position: relative;
    top: 0px;
}

.topnav p {
    color: #CCDAD1;
    font-family: 'Garamond';
    font-size: 20px;
    font-weight: 500;
    display: inline-block;
    text-align: center;
    width: 175px;
    padding: 0 10px;
    padding-top: 20px;
    padding-bottom: 30px;
    margin-top: -45px;
    vertical-align: middle;
}

.topnav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.topnav a:hover {
    color: #CCDAD1;
    font-weight: 900;
    text-shadow:
        0 0 5px red,
        0 0 7px red,
        0 0 14px #660000;
}

.imagestop {
    display: inline-block;

}

main {
    font-family: 'Garamond';
    font-size: 18px;
    line-height: 2.0;
    background: #262626;
    position: relative;
    text-align: center;
}

main p {
    padding: 20px 30px;
}

main h2 {
    text-align: center;
    box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.3);
    font-size: 20px;
}

footer {
    background-color: #660000;
    /*background-color: #262626;*/
    color: white;
    font-family: 'Garamond';
    font-weight: 400;
    font-size: 20px;
}

.copyright {
    text-align: center;
    font-size: 16px;
}

#navbar ul {
    list-style-type: none;
    text-align: center;
}

#navbar li {
    display: inline-block;
    width: 120px;
    padding: 10px auto;
    margin: 10px auto;
    text-align: center;
}

#navbar li a {
    text-decoration: none;
    color: white;
}

#navbar a:hover {
    color: rgb(207, 0, 0);
    text-shadow:
        0px 0px 5px #ffffff,
        0px 0px 8px #ffffff,
        0px 0px 14px #ffffff;
    font-weight: 900;
}
